@import './typewriter.css';

:root {
	--bg-color: #ccc;
	--text-color: rgb(31, 28, 28);
	--divider-color: rgb(158, 149, 149);
	--header-bg-color: rgb(120, 120, 120, 0.9);
	--nav-button-hover-color: white;
}

* {
  box-sizing: border-box;
	font-family: 'Encode Sans SC', sans-serif;
	color: var(--text-color);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  background-color: var(--bg-color);
}

/* main */

.main {
	position: relative;
}

.header {
	width: 100%;

	position: fixed;
	border-bottom: 1px solid var(--divider-color);
	background-color: var(--header-bg-color);
}

.header .navbar {
	max-width: 80vw;
	margin: 0 auto;

	position: relative;
}

.header li {
	list-style-type: none;
	padding: 10px;
	transition: background-color 200ms ease-in;
}

.header li:hover {
	cursor: pointer;
	background-color: var(--nav-button-hover-color);
}

.header .navbar .nav-logo {
	width: min-content;
}


.header .navbar .nav-logo li {
	font-family: 'Encode Sans SC';
	font-weight: 900;
	letter-spacing: 2px;
}

.header .navbar .nav-button {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
}


.hero {
	max-width: 80vw;
	margin: 0 auto;

	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.hero .dp {
	margin-right: 20px;
}

.hero .dp img {
	border-radius: 50%;
	width: 130px;
	height: auto;
}

.hero .title {
	padding: 4px;
}

.hero .title h1 {
	font-size: 2rem;
	letter-spacing: 2px;
	line-height: 50px;
}

.hero .title h3 {
	letter-spacing: 1px;
	opacity: 0;
	transition: opacity 500ms ease-in;
}

.hero .down-arrow {
	position: absolute;
	bottom: 10px;
	margin: 0 auto;
}

.hero .down-arrow .material-icons {
	font-size: 32px;
	cursor: pointer;
}

.page2 {
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.page2 .work .title {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: bold;
}

.content {
	height: 200vh;
}